[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["dotenv", "email"], version = "*"}
gunicorn = "*"
flask = {extras = ["async"], version = "*"}
celery = {extras = ["redis"], version = "*"}
redis = "*"
minio = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.8"
